<h1 mat-dialog-title>Choose Category to Play</h1>

<div mat-dialog-content>
  <mat-form-field appearance="fill">
    <label *ngIf="!selectedCategory"> Choose Category </label>

    <mat-select (selectionChange)="onCategoryChange($event)">
      <mat-option *ngFor="let category of categories" [value]="category.id">
        {{ category.name }}
      </mat-option>
    </mat-select>
  </mat-form-field>

  <div *ngIf="selectedCategory" class="cateogry-details">
    <p>
      <strong> number of words: </strong>
      {{ selectedCategory.words.length }}
    </p>

    <p>
      <strong> Last Updated Date: </strong>
      {{ selectedCategory.lastUpdateDate | date : "MM/dd/yyyy" }}
    </p>
  </div>
</div>

<div mat-dialog-actions>
  <button mat-button (click)="onNonClick()">Close</button>

  <button mat-button (click)="onPlayClick()" [disabled]="!selectedCategory">
    Play
  </button>
</div>
