<div class="header-container">
  <!-- Exit Game Button -->
  <button mat-button class="exit-button" (click)="openExitDialog()">
    <mat-icon>arrow_back</mat-icon>
  </button>

  <div class="money-coin">
    <mat-icon>attach_money {{ score }} </mat-icon>
  </div>

  <!-- Score Status Bar -->
  <div class="status-bar">
    <span>: {{ score }}</span>
  </div>

  <!-- Reset Game Button -->
  <button
    mat-raised-button
    color="warn"
    class="reset-button"
    (click)="resetGame()"
  >
    Reset Game
  </button>
</div>

<div class="words-container">
  <!-- English Words Section -->
  <div class="english-words">
    <h3>English Words</h3>
    <div
      *ngFor="let word of englishWords"
      (click)="selectedEnglishWord(word)"
      [ngClass]="{
        selected:
          selectedEnglishWords && selectedEnglishWords.word === word.word,
        correct: word.status === wordStatus.Disabled,
        disabled: word.status === wordStatus.Disabled
      }"
    >
      <mat-card>{{ word.word }}</mat-card>
      <!-- Display attempts left for each word -->
      <!-- <div class="attempts-left" *ngIf="word.status === WordStatus.Normal && word.attemptsLeft > 0">
          Attempts left: {{ word.attemptsLeft }}
        </div> -->
    </div>
  </div>

  <!-- Hebrew Words Section -->
  <div class="hebrew-words">
    <h3>Hebrew Words</h3>
    <div
      *ngFor="let word of hebrewWords"
      (click)="matchWord(word)"
      [ngClass]="{
        correct: word.status === wordStatus.Disabled,
        disabled: word.status === wordStatus.Disabled
      }"
    >
      <mat-card>{{ word.translated }}</mat-card>
    </div>
  </div>
</div>


<!-- Go Back Button -->
<div class="ifgoback">
  <button
    *ngIf="showBackButton"
    mat-raised-button
    color="primary"
    (click)="navigateToCategorySelection()"
  >
    Go Back to Category Selection
  </button>
</div>
