<div class="header-container">
  <button mat-button class="exitButton" (click)="openExitDialog()">
    Exit Game
  </button>

  <h1 class="matching-game-title">Matching Game-{{ categoryName }}</h1>
  <div class="status-bar">
    <span> Score: {{ score }} </span>

    <span> Grade: {{ grade }} </span>
  </div>
  <button
    mat-raised-button
    color="warn"
    class="reset-button"
    (click)="resetGame()"
  >
    Reset Game
  </button>
</div>

<div class="words-container">
  <div class="english-words">
    <h2>English Words</h2>
    <div *ngFor="let englishWord of englishWords" (click)="selectedEnglishWord(englishWord)">
      
    </div>
  </div>

  <div class="hebrew-words">
    <h2>Hebrew Words</h2>
  </div>
</div>
