
<!-- <h1 *ngIf="categoryName">Mixed Letters - {{ categoryName }}</h1> -->

<!-- <p>{{ hebrewWord }}</p>
<p>{{ scrambledEnglishWord }}</p> -->

<!-- <mat-icon>attach_money</mat-icon> -->

<!-- שורת טקסט להזנה -->
<!-- <input matInput placeholder="Enter text" [(ngModel)]="inputText" placeholder="הכנס טקסט כאן" /> -->

<!-- כפתורים -->
<!-- <div>
  <button mat-raised-button color="primary" (click)="onSubmit()">Submit</button>
  <button mat-raised-button color="warn" (click)="onReset()">Reset</button>
</div> -->

<h1 *ngIf="categoryName">Mix Letters - {{ categoryName }}</h1>

<!-- כפתור לחזרה לדף הקודם -->
<button mat-button class="exitButton" (click)="openExitDialog()">
  <mat-icon>arrow_back</mat-icon>
</button>

<!-- הצגת המילה בעברית -->
<p>{{ hebrewWord }}</p>

<!-- הצגת המילה באנגלית בערבוב אקראי -->
<p>{{ scrambledEnglishWord }}</p>

<!-- שדה להזנת טקסט -->
<input matInput placeholder="הכנס טקסט כאן" [(ngModel)]="inputText" />

<!-- כפתורים לאישור ואיפוס -->
<div>
  <button mat-raised-button color="primary" (click)="onSubmit()">Submit</button>
  <button mat-raised-button color="warn" (click)="onReset()">Reset</button>
</div>

<!-- פס התקדמות -->
<mat-progress-bar mode="determinate" [value]="progress"></mat-progress-bar>

<!-- אייקון של מטבע -->
<mat-icon>attach_money</mat-icon>