<!-- <h1 *ngIf="categoryName">Mix Letters - {{ categoryName }}</h1>


<button mat-button class="exitButton" (click)="openExitDialog()">
  <mat-icon>arrow_back</mat-icon>
</button>


<mat-icon>attach_money</mat-icon>


<p>{{ scrambledEnglishWord }}</p>


<p>{{ hebrewWord }}</p>


<input matInput placeholder="הכנס טקסט כאן" [(ngModel)]="inputText" />


<div>
  <button mat-raised-button color="primary" (click)="onSubmit()">Submit</button>
  <button mat-raised-button color="warn" (click)="onReset()">Reset</button>
</div>

<div>
  <mat-progress-bar mode="determinate" [value]="progress"></mat-progress-bar>
</div>


<p *ngIf="feedback">{{ feedback }}</p> -->


<h1>Mix Letters - {{ categoryName }}</h1>

<div class="header-container">
  <button mat-icon-button class="exit-button" (click)="openExitDialog()">
    <mat-icon>exit_to_app</mat-icon>
  </button>
</div>

