<!-- Back button -->
<!-- <div class="header-container">
  <button mat-icon-button class="exitButton" (click)="openExitDialog()">
    <mat-icon>exit_to_app</mat-icon>
  </button>
  <h1 class="categoryName" *ngIf="categoryName">
    Word Sorter - {{ categoryName }}
  </h1>

  <div class="score-bar">
    <mat-icon>monetization_on</mat-icon>
    <span>{{ score }}</span>
  </div>

  <p *ngIf="selectedEnglishWords && categoryName">
    Is word {{ selectedEnglishWords.word }} part of the
    {{ categoryName }} category?
  </p> -->


  <!-- Progress bar -->
  <!-- <div class="progress-container">
    <div class="progress-info">
      <div class="icon-box">
        <mat-icon>crop_din</mat-icon>
        <span class="icon-number">{{ currentQuestion + 1 }}</span>
      </div>
    </div>
    <mat-progress-bar mode="determinate" [value]="proccess"></mat-progress-bar>
    <div class="progress-info">
      <div class="icon-box">
        <mat-icon>crop_din</mat-icon>
        <span class="icon-number">{{ totalQuestions }}</span>
      </div>
    </div>
  </div> -->



   <!-- Yes and No buttons -->
  <!-- <div >
    <button mat-button (click)="matchWord()">Yes</button>  
    <button mat-button color="warn" (click)="unMacthWord()">No</button>
  </div>

</div> -->


<div class="header-container">
  <button mat-icon-button class="exitButton" (click)="openExitDialog()">
    <mat-icon>exit_to_app</mat-icon>
  </button>
  <h1 class="categoryName" *ngIf="categoryName">
    Word Sorter - {{ categoryName }}
  </h1>

  <div class="score-bar">
    <mat-icon>monetization_on</mat-icon>
    <span>{{ score }}</span>
  </div>

  <p *ngIf="selectedEnglishWords && categoryName">
    Is word {{ selectedEnglishWords.word }} part of the
    {{ categoryName }} category?
  </p>

  <!-- Progress bar -->
  <div class="progress-container">
    <div class="progress-info">
      <div class="icon-box">
        <mat-icon>crop_din</mat-icon>
        <span class="icon-number">{{ currentQuestion + 1 }}</span>
      </div>
    </div>
    <mat-progress-bar mode="determinate" [value]="proccess"></mat-progress-bar>
    <div class="progress-info">
      <div class="icon-box">
        <mat-icon>crop_din</mat-icon>
        <span class="icon-number">{{ totalQuestions }}</span>
      </div>
    </div>
  </div>

  <!-- Yes and No buttons -->
  <div>
    <button mat-button (click)="matchWord()">Yes</button>
    <button mat-button color="warn" (click)="unMacthWord()">No</button>
  </div>
</div>