h1 {
  text-align: center;
  font-size: 45px;
  color: black;
}


p {
  text-align: center;
  font-size: 45px;
  color: black;
}


.score-bar{
  justify-content: right;
 
  padding-left: 97.8%;
}

.exitButton{
 
}
