 <!-- <h1 *ngIf="categoryName">Word Sorter - {{categoryName}}</h1>


<mat-progress-bar mode="determinate" value="40"></mat-progress-bar>
 -->





 <h1 *ngIf="categoryName">Word Sorter - {{ categoryName }}</h1>
 <p *ngIf="categoryName">The word in this category is part of the "{{ categoryName }}" category.</p>
 
 <mat-progress-bar mode="determinate" value="40"></mat-progress-bar>

<!-- 
<h1 *ngIf="categoryName">Word Sorter - {{ categoryName }}</h1>
<p *ngIf="categoryName">The word in this category is part of the "{{ categoryName }}" category.</p>

<mat-progress-bar mode="determinate" value="40"></mat-progress-bar> -->