<!-- Back button -->
<div class="header-container">
  <button mat-icon-button class="exitButton" (click)="openExitDialog()">
    <mat-icon>exit_to_app</mat-icon>
  </button>
  <h1 class="categoryName">Word Sorter - {{ categoryName }}</h1>

  <div class="score-bar">
    <mat-icon>monetization_on</mat-icon>
    <span>{{ score }}</span>
  </div>

  <p *ngIf="selectedEnglishWords">
    Is word "{{ selectedEnglishWords.word }}" part of the "{{ categoryName }}"
    category?
  </p>

  <!-- Progress bar -->
  <div class="progress-container">
    <div class="progress-info">
      <div class="icon-box">
        <mat-icon>crop_din</mat-icon>
        <span class="icon-number">{{ currentQuestion + 1 }}</span>
      </div>
    </div>
    <mat-progress-bar mode="determinate" [value]="proccess"></mat-progress-bar>
    <div class="progress-info">
      <div class="icon-box">
        <mat-icon>crop_din</mat-icon>
        <span class="icon-number">{{ totalQuestions }}</span>
      </div>
    </div>
          
  </div>
  <!-- Question about the word being part of the category -->
  <p *ngIf="selectedEnglishWords">
    Is word "{{ selectedEnglishWords.word }}" part of the "{{ categoryName }}"
    category?
  </p>

  <!-- Yes and No buttons -->
  <div *ngIf="selectedEnglishWords">
    <button mat-button color="primary">Yes</button>
    <button mat-button color="warn" (click)="resetSelectedWord()">No</button>
  </div>
</div>
