
:host {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 20px;
  height: 100vh;
  margin: 20px;
}

.mat-card-wrapper {
  max-width: 300px;
  border: 1px solid transparent;
  border-radius: 8px;
  overflow: hidden;
}

.mat-card {
  padding: 0;
  border-radius: 0;
}

.mat-card-trivia .mat-card, .mat-card-trivia mat-card-title, .mat-card-trivia mat-card-subtitle {
  background-color: #1976d2;
  color: #ffffff;
}

.mat-card-mixed-letters .mat-card, .mat-card-mixed-letters mat-card-title, .mat-card-mixed-letters mat-card-subtitle {
  background-color: #f44336;
  color: #ffffff;
}

.mat-card-word-sorter .mat-card, .mat-card-word-sorter mat-card-title, .mat-card-word-sorter mat-card-subtitle {
  background-color: #1a7b04;
  color: #ffffff;
}

mat-card-title {
  font-size: 24px;
  padding: 16px;
}

mat-card-subtitle {
  font-size: 17px;
  padding: 0 16px 16px;
}