<div class="mat-card">
  <mat-card class="mat-card-trivia">
    <mat-card-title> Trivia- </mat-card-title>
    <mat-card-subtitle>
      Choose every word's translation from a list of 4 options
    </mat-card-subtitle>
  </mat-card>

  <mat-card class="mat-card-mixed-letters">
    <mat-card-title> Mixed Letters- </mat-card-title>
    <mat-card-subtitle>
      Practice spelling, by finding the right order of letters for every word in
      the category
    </mat-card-subtitle>
  </mat-card>

  <mat-card class="mat-card-word-sorter">
    <mat-card-title> Word Sorter- </mat-card-title>
    <mat-card-subtitle> Generate the game description </mat-card-subtitle>
  </mat-card>
</div>
