
<div mat-card *ngIf="isCorrectWord">
    <p mat-card *ngFor="let word of words"></p>

    <div mat-diaglog-content>
        
        <p *ngIf="isSuccess">Continue</p>
        <p *ngIf="!isSuccess">
         You can't continue to this game, 
         you don't have enough words 
         in the selected category</p>
     </div>
     
</div>


<div mat-diaglog-content>
    <p *ngIf="isSuccess">Continue</p>
    <p *ngIf="!isSuccess">
     You can't continue to this game, 
     you don't have enough words 
     in the selected category</p>
 </div>
