<!-- <h1 *ngIf="categoryName">Trivia - {{ categoryName }}</h1> -->
<div class="maincon">
  <div>

      <button mat-button color="warn" (click)="openExitDialog()">Exit Game</button>
  </div>

  <div class="trivia-game">
      <h1>lets play trivia-game</h1>
      <mat-card *ngIf="currentQuestion">
        <mat-card-header>
          <mat-card-title>Question {{ currentQuestionIndex + 1 }} of {{ questions.length }}</mat-card-title>
        </mat-card-header>
        <mat-card-content>
          <p>{{ currentQuestion.question }}</p>
          <div *ngFor="let option of currentQuestion.options">
            <button mat-button (click)="selectOption(option)">
              {{ option }}
            </button>
          </div>
          <p *ngIf="feedback">{{ feedback }}</p>
        </mat-card-content>
      </mat-card>
    
      <div *ngIf="!currentQuestion">
        <p>{{ feedback }}</p>
        <button mat-button (click)="resetGame()">Play Again</button>
        <button mat-button (click)="goToDashboard()">Go to Dashboard</button>
        
      </div>
    </div>
  
</div>