<div class="dashboard">
  <mat-card>
    <mat-card-header>
      <mat-card-title class="title">Your learning :</mat-card-title>
    </mat-card-header>
    <mat-card-content>
      <div class="statistics-container">
        <div class="stats-cards">
          <mat-card class="stat-card">
            <mat-card-content>
              {{ totalGamesPlayed }}
              <p><strong>Games</strong></p>
            </mat-card-content>
          </mat-card>
          <mat-card class="stat-card">
            <mat-card-content>
              {{ totalGameScore }}
              <p><strong>Points</strong></p>
            </mat-card-content>
          </mat-card>

          <mat-card class="stat-card">
            <mat-card-content>
              {{ playedCategories.length }}
              <p><strong>Categories learnt</strong></p>
            </mat-card-content>
          </mat-card>

          <!-- Unplayed Categories -->
          <mat-card class="stat-card">
            <mat-card-content>
              {{ unPlayedCategories.length }}
              <p><strong>Categories Unlearnt</strong></p>
            </mat-card-content>
          </mat-card>

          <mat-card class="stat-card">
            <mat-card-content>
              {{ highestGradeGame.gameTitle }}
              <p><strong>Highest Game Grade</strong></p>
            </mat-card-content>
          </mat-card>
          <mat-card class="stat-card">
            <mat-card-content>
              {{ perfectGrades }}%
              <p><strong> Perfect Games</strong></p>
            </mat-card-content>
          </mat-card>
          <mat-card class="stat-card">
            <mat-card-content>
              {{ consecutiveDays }}
              <p><strong>Days Streak</strong></p>
            </mat-card-content>
          </mat-card>
          <mat-card class="stat-card">
            <mat-card-content>
              <p class="num">{{ totalGamePlayEachMonth }}</p>
              <p class="pinmonth">Games This Month</p>
              <p
                class="pinmonth"
                *ngIf="totalGamePlayEachMonth < totalRequirdGames"
              >
                You need to play {{ gamesNeeded }} more to complete the
                challenge.
              </p>
              <p
                class="pinmonth"
                *ngIf="totalGamePlayEachMonth >= totalRequirdGames"
              >
                You have reached the goal of {{ totalRequirdGames }} games this
                month.
              </p>
            </mat-card-content>
          </mat-card>
          <mat-card class="stat-card">
            <mat-card-content>
              {{ lowestGradeGame.gameTitle }}
              <p><strong>Lowest Average Game Grade</strong></p>
            </mat-card-content>
          </mat-card>
        </div>
      </div>
    </mat-card-content>
  </mat-card>
</div>
