<div class="dashboard">
  <mat-card>
    <mat-card-header>
      <mat-card-title class="title">Your learning :</mat-card-title>
    </mat-card-header>
    <mat-card-content>
      <!-- Display statistics -->
      <div class="statistics-container">
        <div class="stats-cards">
          <mat-card class="stat-card">
            <mat-card-content>
              {{ totalGamesPlayed }}
              <p><strong>Games</strong></p>
            </mat-card-content>
          </mat-card>
          <mat-card class="stat-card">
            <mat-card-content>
              {{ totalGameScore }}
              <p><strong>Points</strong></p>
            </mat-card-content>
          </mat-card>
          <mat-card class="stat-card">
            <mat-card-content>
              {{ totalCategories }}
              <p><strong> Categories learnt</strong></p>
            </mat-card-content>
          </mat-card>
          <mat-card class="stat-card">
            <mat-card-content>
              {{ highestScoreGame.gameTitle }}
              <p>
                <strong>Highest Score Games</strong>
              </p>
            </mat-card-content>
          </mat-card>
          <mat-card class="stat-card">
            <mat-card-content>
              {{ perfectGrades }} 
              <p><strong> 90% Perfect Games</strong></p>
            </mat-card-content>
          </mat-card>
          <mat-card class="stat-card">
            <mat-card-content>
              {{ consecutiveDays }}
              <p><strong>Days strike</strong></p>
            </mat-card-content>
          </mat-card>
          <mat-card class="stat-card">
            <mat-card-content>
              <p class="num">{{ totalGamePlayEachMonth }}</p>
              <p class="pinmonth">Games This Month </p>
              <p class="pinmonth" *ngIf="totalGamePlayEachMonth < totalRequirdGames">
                You need to play {{ gamesNeeded }} more to complete the chalange
              </p>
              <p class="pinmonth" *ngIf="totalGamePlayEachMonth >= totalRequirdGames">
                You have reached the goal of {{totalRequirdGames}} games this month.
              </p>
            </mat-card-content>
          </mat-card>
        </div>
      </div></mat-card-content
    ></mat-card
  >
</div>
