<h1>You're learning:</h1>

<div class="dashboard">
  <mat-card>
    <mat-card-header>
      <mat-card-title class="ttile"> </mat-card-title>
    </mat-card-header>
    <mat-card-content>
      <div class="statistics-container">
        <h2>Statistics</h2>
        <div class="stats-cards">
          <mat-card class="stats-card">




          <mat-card class="stats-card">
          <mat-card-content> 
              <p>
                <strong>Total Score:</strong>
                {{totalGameScore}}
              </p>
            </mat-card-content>
          </mat-card>

          </div>
          

        
          



        
      </div>
    </mat-card-content>
  </mat-card>
</div>
