/* You can add global styles to this file, and also import other style files */

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }

.mat-mdc-dialog-container, .mat-mdc-dialog-container .mdc-dialog_container, .mat-mdc-dialog-container .mdc-dialog_surface {
    max-height: inherit;
    min-height: inherit;
    min-width: inherit;
    max-width: inherit;
    align-items: center;
}